:root {
    --main-color: #ffe700;
    --sub-color: ;
    --text-color: ;
    --sub-text-color: ;
    --bg-color: #dbe3e8;
    --bg-sub-color: #f3f9fc;
    --w-color: #fff;
    --b-color: #000;
    --link-color: #384349;
    --link-sub-color: #0065a4;
    --p-100: 100px;
    --p-80: 80px;
    --p-50: 50px;
    --p-10: 10px;
    --p-5: 5px;

    --m-80: 80px;
    --m-50: 50px;

    --transition-3: all 0.3s ease;
    --transition-5: all 0.5s ease;

    --border: 1px solid #DBE3E8;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    direction: rtl;
    height: 30000px;
}

@media (min-width: 786px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}

@media (max-width: 786px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 10px;
    }

    a {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 8px;
    }

    a {
        font-size: 8px;
    }
}

ul {
    list-style: none;
}

img,
a {
    display: inline-block;
}

a {
    text-decoration: none;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1150px;
    }
}

/* Start Top NavBar */
.top-navbar {
    background-color: var(--bg-color);
    padding-block: var(--p-10);
}

.top-navbar .container {
    display: flex;
    gap: 25px;
}

.top-navbar .container .content a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: var(--link-color);
    transition: var(--transition-3);
}

.top-navbar .container .content a:hover {
    color: var(--link-sub-color);
}


@media (max-width: 999px) {
    .top-navbar {
        display: none;
    }
}

/* End Top NavBar */
/* Start NavBar */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--w-color);
    z-index: 10;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.navbar .container .logo svg {
    width: 60px;
    height: 60px;
}

.navbar .container>section {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: var(--text-color);
    padding: 30px 10px;
    height: 80px;
    transition: var(--transition-3);
}

.navbar .container>section .number {
    position: relative;
}

.navbar .container>section .number h5 {
    position: absolute;
    top: -8px;
    left: -8px;
    font-size: 10px;
    background-color: var(--main-color);
    color: var(--link-sub-color);
    border-radius: 50%;
    min-height: 15px;
    min-width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.navbar .container>section:hover {
    background-color: var(--bg-sub-color);
}

.navbar .container>section p {
    font-size: 12px;
    font-weight: 700;
}

.navbar .container>section p span {
    font-size: 8px;
}

.navbar .container>section svg {
    color: var(--link-sub-color);
    font-size: 20px;
}

.navbar .container form {
    position: relative;
    width: 100%;
}

.navbar .container form input {
    outline: none;
    border: var(--border);
    padding: 10px 30px;
    border-radius: 5px;
    width: 100%;
}

.navbar .container form svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--link-sub-color);
}

@media (max-width: 999px) {
    .navbar .container {
        gap: var(--p-5);
    }
    .navbar .container .btn-navbar,
    .navbar .container .jood,
    .navbar .container .favorite,
    .navbar .container .user,
    .navbar .container .shopping-cart p {
        display: none;
    }
    .navbar {
        border-bottom: var(--border);
    }

    .navbar .container .logo {
        border-left: var(--border);
        padding: 15px 0 15px 15px;
    }
    .navbar .container .logo svg {
        width: 40px;
    }
    .navbar .container .shopping-cart {
        border-right: var(--border);
        padding: 15px 15px 15px 0;
    }
    .navbar .container form input {
        border: none;
        font-size: 10px;
    }
    .navbar .container > section {
        width: fit-content;
        height: 50px;
    }

    .navbar .container > section svg,
    .navbar .container form svg {
        font-size: 16px;
    }

}
/* End NavBar */
/* Start Header */
.header {
    background-color: var(--w-color);
}

.bottom-navbar .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.bottom-navbar .container>section {
    display: flex;
    align-items: center;
    color: var(--b-color);
    cursor: pointer;
}

.bottom-navbar .container .location,
.bottom-navbar .container .info>section,
.bottom-navbar .container .info>p {
    transition: var(--transition-3);
    padding: 10px;
}

.bottom-navbar .container .location:hover,
.bottom-navbar .container .info>section:hover,
.bottom-navbar .container .info>p:hover {

    background-color: var(--bg-sub-color);
}

.data-info {
    position: absolute;
    left: 15px;
    top: 70px;
    border-radius: 5px;
    width: 160px;
    box-shadow: var(--box-shadow);
    padding-block: 5px;
    transition: var(--transition-3);
    display: none;
}

.data-info h5 {
    transition: var(--transition-3);
    padding: var(--p-10);
}

.data-info h5:hover {
    background-color: var(--bg-sub-color);
}

.location {
    gap: 3px;
}

.location svg {
    color: var(--link-sub-color);
}

.more-info {
    display: flex;
    align-items: center;
    gap: 3px;
}

@media (max-width: 999px) {
    .bottom-navbar .container .info {
        display: none;
    }
}
/* End Header */
/* Start Delivery */
.delivery {
    background-color: var(--bg-sub-color);
    padding: 10px;
    text-align: center;
    border-top:var(--border);
    border-bottom: var(--border);
}
@media (max-width: 999px) {
    .delivery{
        display: none;
    }
}
/* End Delivery */